footer
  padding-left 15px
  padding-right 15px
  p
    border-top 1px solid #d7e0e2

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
  display none !important

.panel.alert
  background-color #FF5252

.panel.warn
  background-color #FFC852

.large-text
  font-size 24pt

.xlarge-text
  font-size 36pt

.jumbotron
  margin 10px

.right-10
  right 10px

.top-10
  top 10px

.toast-top-right
  top 70px

.toast-success
  background-color #13987e

.data
  box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
  padding 0.5rem
  margin 0 0 1rem 0
  border 1px solid #ccc
  background-color #ddd

ul.pipe-delim
  margin 0
  padding 0
  list-style-type none

  li
    display inline

  li::after
    content ' | '

  li:last-of-type::after
    content ''

#tab-skills.content
  margin-top -3px
  vertical-align top

#tab-skills > fieldset
  margin-top -6px

.skills-tab ul 
  list-style-type none
  width 200px
  height 100%
  border 1px solid
  float left

.skills-tab ul li
  height 27px
  
.skills-tab ul li label
  height 27px

.selected
  color #099000
  background #c7ebc5
  border-color #099000

.selected-skill
  color #099000
  background #c7ebc5
  border-color #099000
  text-align center

li label
  padding-left 25px

li i.foundicon-checkmark
  margin-left 5px
  margin-right 5px
  display none

li.selected i.foundicon-checkmark
  display inline
  float left

#skills .skill
  margin-top 10px

#skills .skill button
  margin-right 6px

#tab-verticals.content
  margin-top -3px
  vertical-align top

#tab-verticals > fieldset
  margin-top -6px

.verticals-tab ul 
  list-style-type none
  width 200px
  height 100%
  border 1px solid
  float left

.verticals-tab ul li
  height 27px
  
.verticals-tab ul li label
  height 27px

.selected-vertical
  color #099000
  background #c7ebc5
  border-color #099000
  text-align center

#verticals .vertical
  margin-top 10px

#verticals .vertical button
  margin-right 6px
