div
                        h2 Skills

                        fieldset
                            legend Available Skills
                            p Unlisted skills can be added at the bottom of the page.
                            div.panel.callout.radius.clearfix
                                div.large-6.columns
                                    div.row.collapse
                                        div.small-9.columns
                                            input(type="text" placeholder="Search" ng-model="search")



                            #skills.row
                                .small-3.columns(ng-repeat="skill in skills | skillSearch:search | filter:{ isApproved: true} | orderBy: 'name'")
                                    .skill.panel.radius.callout
                                        button.left.alert.radius.tiny.clearfix(ng-click="delete(skill)")
                                            i.foundicon-remove.general
                                        b {{ skill.name }}
                                        p {{ skill.description }}



                        fieldset
                            legend Request to Add a Skill
                            form
                                a(id="request-skill")
                                .row
                                    p
                                        span
                                        .row
                                            .small-12.medium-8.columns
                                                label Skill Name
                                                input(type=text, name="name", ng-model="skillRequested.name")
                                            .small-12.medium-4.columns
                                                label Skill Level
                                                select(ng-model="skillLevel", ng-options="skillLevel for skillLevel in skillLevels")
                                .row

                                    p
                                        span
                                        .row
                                            .small-12.medium-8.columns
                                                label Description
                                                textarea(name="description", ng-model="skillRequested.description")
                                            .small-12.medium-4.columns
                                                input(type="checkbox", name="IsUserSkill", ng-model="skillRequested.isSkillApplyToRequester")
                                                label.checkbox-inline Add this skill to my profile
                                .row

                                .row.clearfix
                                    button.success.radius(ng-click="save()")
                                        i.foundicon-plus.general